## Build Files ##
.gradle
build/**
!gradle/wrapper/gradle-wrapper.jar
bin/**

### IntelliJ IDEA ###
.idea/

### Mac OS ###
.DS_Store

### BOXLANG ###
boxlang_modules/**
.env
/libs/
src/test/resources/libs/*
!src/test/resources/libs/.gitkeep
src/test/resources/modules/**
testbox/**
tests/results
derby.log

### Ollama Data ###
.ollama/

### Local NanoBox Tests ###
.nanobox/**

### Stray runtime directories from BoxLang ~ expansion ###
lib/testbox/system/runners/~/